.companyName1f44e7ef-1684-4ca4-8c9e-a77c42a663fe {
  fill: #e3e3e3;
  fill-opacity: 1;
}
.icon11f44e7ef-1684-4ca4-8c9e-a77c42a663fe {
  fill: #3b198f;
  fill-opacity: 1;
}
.icon21f44e7ef-1684-4ca4-8c9e-a77c42a663fe {
  fill: #555555;
  fill-opacity: 1;
}
.icon3-str1f44e7ef-1684-4ca4-8c9e-a77c42a663fe {
  stroke: #aaaaaa;
  stroke-opacity: 1;
}
.icon31f44e7ef-1684-4ca4-8c9e-a77c42a663fe {
  fill: #a1aebb;
  fill-opacity: 1;
}
